# =============================================
# 构建工具
# =============================================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

# =============================================
# IDE
# =============================================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.idea/
*.iws
*.iml
*.ipr
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# =============================================
# 日志和临时文件
# =============================================
*.log
*.xml.versionsBackup
*.swp
